@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject IHttpContextAccessor HttpContextAccessor
@model Employee
<head>
    <link rel="stylesheet" type="text/css" href="~/css/profile_style.css">
</head>

    <div class="block" id="block1">
        <div class="container">
            <div id="photo">
                <img src="photo.jpg">
            </div>
            <div id="comany_details">
                <ul id="table1">
                <li><h1>@Model.Name @Model.Surname</h1></li>
                    <li>@Model.City</li>
                </ul>
            </div>
            <div id="employee_tags">
                <ul id="tags">
                @{
                    var a = Model.Tags;
                    if(a!=null){
                    var array = Model.Tags.Split(";");
                    foreach (string element in array){
                            <li><a>@element</a></li>

                    }
                    }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="block" id="block2">
        <div class="container">
            <div>
                <h1>Summary:</h1>
            </div>
            <div id="summary">
                <ul id="summary_table">
                  @Model.Summary;
                </ul>
            </div>
        </div>
    </div>

    <div class="block" id="block3">
        <div class="container">
            <div>
                <h1>Skills:</h1>
            </div>
            <div id="skills">
                <ul id="skills_table">
                @{
                     a = Model.Tags;
                    if (a != null)
                    {
                       var array = Model.Skills.Split(";");
                        foreach (string element in array)
                        {
                            <li>@element</li>
                        }
                    }
                }
              @*      <li>Project menagment</li>
                    <li>Strong decision maker</li>
                    <li>Complex problem solver</li>
                    <li>Creativ design</li>
                    <li>Innovative</li>
                    <li>Service focused</li>*@
                </ul>
            </div>
        </div>
    </div>

    <div class="block" id="block4">
        <div class="container">
            <div>
                <h1>Experiance:</h1>
            </div>
            <div id="experiance">
                <ul id="experiance_table">
                @{
                     a = Model.Tags;
                    if (a != null)
                    {
                       var array = Model.Experiance.Split(";");

                        foreach (string element in array)
                        {
                            var poj = element.Split(":");
                            <li>@poj[0] :<br>@poj[1]</li>
                        }
                    }
                }
                  @*  <li> IT Engineer 2019 - current: <br> Hired 11 technicians and instructed them in Agile projectmanagement, increasing efficiency by 39%, Drafted troubleshooting guides for common technical strategies, decreasing average ticket resolution time by 48%, Collaborated with 13 techs to upgrade VPN security, including updating encryption methods and adding antivirus protection, reducing chances of a breach by 67%, Developed and enhanced product security systems, meeting 100% of client requirements</li>
                    <li> Network Engineer 2015 - 2019: <br> Created and reorganized SQL queries and scripts for internal troubleshooting, decreasing work tickets by 28%, Analyzed escalated tickets and coached junior techs to resolve 84% of excessive escalations, Analyzed diagnostic data to understand causes/correlations of network issues and presented results to internal staff, Collaborated with staff to resolve network issues and implement fixes, resulting in 31% fewer malfunctions</li>*@
                </ul>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div class="apply" id="apply">
        <div class="form">
            <div class="form-element">
                <button>Send offer</button>
            </div>
            <div class="form-element">
                <button>Show phone number</button>
            </div>
            <div class="form-list">
                <ul>
                    <li><button><img src="../icons/heart.png" alt="Follow"></button></li>
                    <li><button><img src="../icons/printer.png" alt="Print"></button></li>
                    <li><button><img src="../icons/share.png" alt="Share"></button></li>
                </ul>
            </div>
        </div>
    </div>

