@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IHttpContextAccessor HttpContextAccessor;
@model IEnumerable<Empolyer>;


  <head>
    <meta charset="UTF-8">
    <title>Future Prospects</title>
    <link rel="stylesheet" type="text/css" href="~/css/offer_list_style.css">
  </head>

    <div class="container">
      <div class="filters">
        <h2>Filters</h2>
        <p>City</p>
        <form >
          <input type="checkbox" id="City1" name="City1" value="Katowice">
          <label for="Katowice">Katowice</label><br>
          <input type="checkbox" id="City2" name="City2" value="Gliwice">
          <label for="Gliwice">Gliwice</label><br>
          <input type="checkbox" id="City3" name="City3" value="Ruda Śląska">
          <label for="Ruda Śląska">Ruda Śląska</label><br>
        </form>
        <p>Type</p>
        <input type="checkbox" id="Type1" name="Type1" value="Internship">
          <label for="Internship">Internship</label><br>
          <input type="checkbox" id="Type2" name="Type2" value="EmploymentContract">
          <label for="EmploymentContract">Employment contract</label><br>
          <input type="checkbox" id="Type3" name="Type3" value="ContractForWork">
          <label for="ContractForWork">Contract for work</label><br>
    </div>

    <main class="offerContainer">
        <div class="jobOffers">
      
        @foreach (var obj in Model)
        {

 
            @foreach (var offer in obj.Offer)
            {
                
             @*     <tr>
                    <td> @obj.CompanyName</td>
                    <td>@obj.Email</td>
                    <td> @obj.Phone</td>
                    
                    <td>@offer.OfferTitle</td>
                    <td>@offer.OfferDescription</td>
                    <td>@offer.SkllsRequred</td>
                    <td>@offer.Salary</td>
                    <td>@obj.Offer</td>
                </tr>*@
                    <a style="none" asp-controller="Offer" asp-action="jobOffer" asp-route-id="@offer.Id">
                    <div class="jobOffer">
                     <form class="jobForm">
                       <div class="jobOfferImg">
                        <img src="../media/logo_polsl.png"alt="logo">
                       </div>
                       <div class="content">
                        <p class="none"> @offer.Id</p> 
                        <h4>@offer.OfferTitle</h4>
                        <h5>@obj.CompanyName</h5>
                        <p>@offer.OfferDescription</p>
                        <div class="tags">
                          @{
                             var array = offer.Tags.Split(";");
                             foreach (string element in array)
                             {
                              <div class="tag">@element </div>
                             }
                          }
                        </div>
                      </div>
              
                     </form>
                    </div>
                    </a>
            
            }          
    }
    </div>
@*       <div style="clear:both;"></div>*@

    </main>

