@inject IHttpContextAccessor HttpContextAccessor
@model JobOfferModel

<head>
    <meta charset="UTF-8">
    <title>Future Prospects</title>
    <link rel="stylesheet" type="text/css" href="~/css/offer_style.css">
  </head>

<div class="block" id="block1">
    <div class="container">
        <div id="company_logo">
            <img src="../Inne/logo.png" alt="Future Prospects">
        </div>
        <div id="comany_details">
            <ul id="table1">
                    <li><h1 >@Model.Offer.OfferTitle  </h1></li>
                <li><a>@Model.Empolyer.CompanyName</a></li>
            </ul>
        </div>
        <div id="job_details">
            <ul id="tags">
                <li><a>Umowa o pracę</a></li>
                <li><a>Pełny etat</a></li>
                <li><a>Praca hybrydowa</a></li>
                <li><a>C++</a></li>
                <li><a>C#</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="block" id="block2">
    <div class="container">
        <div>
            <h1>Zakres obowiązków:</h1>
        </div>
        <div id="duties">
       @*     <ul id="duties_table">
                <li>Implementacja procesów biznesowych</li>
                <li>Tworzenie dokumentacji technicznej do systemu</li>
                <li>Ścisła współpraca z liderami obszarów</li>
            </ul>*@
            @Model.Offer.OfferDescription
        </div>
    </div>
</div>

<div class="block" id="block3">
    <div class="container">
        <div>
            <h1>Nasze wymagania:</h1>
        </div>
        <div id="requirements">
            @Model.Offer.SkllsRequred
@*            <ul id="requirements_table">
                <li>Angielski (minimum B2) - znajomość innych języków obcych jest cennym atutem</li>
                <li>Polski (minimum C1)</li>
                <li>Podstawowa znajomość procesów biznesowych w organizacjach</li>
                <li>Umiejętność programowania minimum w jednym z wymienionych języków (ABAP, Java, C#, C++, Python, JavaScript, Visual Basic – VBS/VB.NET) przynajmniej na podstawowym poziomie</li>
                <li>Zaangażowanie i chęć nauki</li>
            </ul>*@
        </div>
    </div>
</div>

<div class="block" id="block4">
    <div class="container">
        <div>
            <h1>To oferujemy:</h1>
        </div>
        <div id="offers">
            <ul id="offers_table">
                <li>Współpracę w oparciu o umowę o pracę, o zlecenie lub kontrakt B2B</li>
                <li>Duże możliwości rozwoju i podnoszenia swoich umiejętności</li>
                <li>Praca przy wielu ciekawych projektach dla liderów wielu branż</li>
                <li>Zdobycie doświadczenia przy projektowaniu i wdrażaniu systemów SAP (SAP ECC, S/4HANA, PI/PO/CPI), Salesforce, Mulesoft, Microsoft</li>
            </ul>
        </div>
    </div>
</div>

<div id="overlay"></div>

<div class="apply" id="apply">
    <form class="form" method="post" asp-controller="Offer" asp-action="Applay" name="Applay" asp-route-id="@Model.Offer.Id">
        <div class="form-element">
            <button type="submit">Aplikuj</button>
        </div>
        <div class="form-element">
            <button>Pokaż numer pracodawcy</button>
        </div>
        <div class="form-list">
            <ul>
                <li><button><img src="~/icons/heart.png" alt="Follow"></button></li>
                <li><button><img src="~/icons/printer.png" alt="Print"></button></li>
                <li><button><img src="~/icons/share.png" alt="Share"></button></li>
            </ul>
        </div>
    </form>
</div>